# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
venv/
ENV/

# IDE & OS
.vscode/
.idea/
.DS_Store

# Data / DB / Cache
*.db
*.sqlite
*.sqlite3
.pytest_cache/
catboost_info/
sportsmatrix_config.json
